
*{
	font-family: 'Montserrat', sans-serif;
}

body{
	margin: 0;
}

/*Header*/

header{
	background-image: url("../images/banner.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	height: 880px;
	top: 0px;
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;

}

.botaoheader{
	position: absolute;
	display: inline;
	color: white;
	top:450px;
	right: 570px;
	float: none;
}

#botaoesq{
	outline-style: solid;
	outline-offset: 15px;
}
#botaodir{
	outline-style: solid;
	outline-offset: 15px;
}

#icoheader{
	top:325px;
	right: 820px;
	position: absolute;
}


#aprenda{
	color: white;
	font-size: 52px;
	position: absolute;
	top:307px;
	right: 255px;
	text-align: center;
	text-shadow: 2px 2px black;
}

/* Estilo da barra de navegação*/
nav{
	position: absolute;
	top:0;
	width: 100%;
	background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: 20px 45px;
    overflow: hidden;
    font-size: 18px;
    background-color: black;
    opacity: 0.7;
    z-index: 10;

}
/* Estilo dos links da nav bar */
nav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 45px 10px;
    text-decoration: none;
}

/* Muda de cor ao passar o mouse */
nav a:hover {
    background-color: #ddd;
    color: black;
}

@media screen and (max-width: 600px) {
	nav{
		background-image: none;
		position: absolute;
		z-index: 1;
	}
    nav a {
        float: none;
        width: 100%;
    }
}

/*Pcs + Parágrafo*/


div.section1{
	/*border: 1px solid red;*/
}

div#separacao{
	margin: 0px;
	top:0%;
	width: 100%;
	height: 50px;
	background-color: white;
	/*border: 1px solid black;*/
}

div#material{
	color:#f06129;
	width: auto;
	font-size: 20px;
	/*border: 1px solid blue;*/
	padding: 10px;
	margin-left: 27px;
	position: absolute;
	display: inline-block;
}

div#pcs{
	/*border: 1px solid green;*/
	display: inline-block;
}

div#paragrafotrainee{
	text-align: justify;
	margin-top: 50px;
	float: right;
	position: absolute;
	display: inline-block;
	/*border: 1px solid black;*/
	padding: 50px 25px 0px 40px;
}

/*HTML + CSS*/

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 200px;
    background-color: red;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: white;
}

div.estude{
	width: 70%; 
	font-weight: bold;
	color: white;
    text-align: center;
    padding: 10px;
    background-color: orange;
    border-style: none;
    border-radius: 8px;
    margin-left: 14%;
}
div#titulo{
	font-weight: bold;
	font-size: 35px;
	margin: 50px;
	color:#f06129;
    text-align: center;
    /*border: 2px black solid;*/
    letter-spacing: 8px;
}

* {
    box-sizing: border-box;
}

div#ver{
	padding: 0px 0px 0px 0px;
	width: 100px;
	background-color: black;
	text-align: center;
	color: white;
	border-style: none;
    border-radius: 6px;
    margin-left: 46%;
}

.responsive {
	margin: 10px;
    padding: 0 6px;
    float: left;
    width: 22.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

hr{
	border:none;
	height: 2px;
	background-color: grey;
}