
*{
	font-family: 'Montserrat', sans-serif;
}

body{
	margin: 0;
}

/*Header*/

header{
	background-image: url("../images/banner.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	height: 880px;
	top: 0px;
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;

}

.botaoheader{
	text-shadow: 1px 1px black;
	font-weight: bold;
	position: absolute;
	display: inline;
	color: white;
	top:52%;
	margin-left: 29%;
	float: none;
	width: 50%;
}

#botaoesq{
	display: inline-block;
	outline-style: solid;
	outline-width: 2px;
	outline-offset: 15px;
	margin: 20px;
	padding: 0px 36px 0px 37px;
}
#botaodir{
	outline-width: 2px;
	display: inline-block;
	outline-style: solid;
	outline-offset: 15px;
	margin: 20px;
	padding: 0px 60px 0px 60px;
}

#icoheader{
	top:37%;
	margin-left: 38%;
	position: absolute;
}


#aprenda{
	color: white;
	font-size: 52px;
	position: absolute;
	top:35%;
	margin-left: 25%;
	text-align: center;
	text-shadow: 2px 2px black;
}

/* Estilo da barra de navegação*/
nav{
	position: absolute;
	top:0;
	width: 100%;
	background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: 20px 45px;
    overflow: hidden;
    font-size: 18px;
    background-color: black;
    opacity: 0.7;
    z-index: 10;

}
/* Estilo dos links da nav bar */
nav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 45px 10px;
    text-decoration: none;
}

/* Muda de cor ao passar o mouse */
nav a:hover {
    background-color: #ddd;
    color: black;
}

@media screen and (max-width: 600px) {
	nav{
		background-image: none;
		position: absolute;
		z-index: 1;
	}
    nav a {
        float: none;
        width: 100%;
    }
}

/*Pcs + Parágrafo*/


div.section1{
	/*border: 1px solid red;*/
	position: relative;
}

div#separacao{
	margin: 0px;
	top:0%;
	width: 100%;
	height: 50px;
	background-color: white;
	/*border: 1px solid black;*/
}

div#material{
	color:#f06129;
	width: auto;
	font-size: 20px;
	/*border: 1px solid blue;*/
	padding: 10px;
	margin-left: 27px;
	position: absolute;
	display: inline-block;
}

div#pcs{
	/*border: 1px solid green;*/
	display: inline-block;
}

div#paragrafotrainee{
	text-align: justify;
	margin-top: 50px;
	float: right;
	position: absolute;
	display: inline-block;
	/*border: 1px solid black;*/
	padding: 50px 25px 0px 40px;
}

/*HTML + CSS*/

.section2{
	position: relative;
}

div.gallery {
    border: 2px solid #ccc;
}

div.gallery:hover {
    border: 2px solid #777;
}

div.gallery a {
	text-decoration: none;
}

#image1{
	width: 100%;
	background-color: #d45944;
	padding-top: 20px;
	padding-bottom: 8px;
}
#image1pos{
	margin-left: 27%;
}

#image2{
	width: 100%;
	background-color: #6cc7eb;
	padding-top: 20px;
	padding-bottom: 8px;
}

#image2pos{
	margin-left: 8%;
}

#image4{
	width: 100%;
	background-color: #f2c84b;
	padding-top: 8px;
	padding-bottom: 8px;
}

#image5{
	width: 100%;
	background-color: #b31d0c;
	padding-top: 8px;
	padding-bottom: 8px;
}

#image6{
	width: 100%;
	background-color: #a62d39;
	padding-top: 8px;
	padding-bottom: 8px;
}

#image7{
	width: 100%;
	background-color: #8a30ff;
	padding-top: 8px;
	padding-bottom: 8px;
}

.textoimagem{
	font-size: 15px;
	color:white;
	margin-left: 5%;
	line-height: 5px;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: white;
    color: black;
}

div.estude{
	width: 70%; 
	font-weight: bold;
	color: white;
    text-align: center;
    padding: 10px;
    background-color: #ff7b00;
    border-style: none;
    border-radius: 8px;
    margin-left: 14%;
    margin-top: 5%;
}

div.estude2{
	width: 70%; 
	font-weight: bold;
	color: white;
    text-align: center;
    padding: 10px;
    background-color: #a62d39;
    border-style: none;
    border-radius: 8px;
    margin-left: 14%;
    margin-top: 5%;
}

div#titulo{
	font-weight: bold;
	font-size: 35px;
	margin: 50px;
	color:#f06129;
    text-align: center;
    /*border: 2px black solid;*/
    letter-spacing: 8px;
}

* {
    box-sizing: border-box;
}

.verlink{
    text-decoration: none;
    color: white;
}

div#ver{
	padding: 0px 0px 0px 0px;
	width: 100px;
	background-color: black;
	text-align: center;
	color: white;
	border-style: none;
    border-radius: 3px;
    margin-left: 46%;
}

#titulo2{
	font-weight: bold;
	font-size: 35px;
	margin: 50px;
	color: #a62d39;
    text-align: center;
    /*border: 2px black solid;*/
    letter-spacing: 8px;
}

.responsive {
	display: inline-block;
	margin: 0px;
    padding: 0 15px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 800px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

hr{
	border:none;
	height: 2px;
	background-color: grey;
}